# Entorno virtual de Python
venv/
ENV/
env/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración de usuario
*.swp
*.swo
*.bak

# Archivos de MkDocs
site/

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db